h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 29px;
  letter-spacing: 1px;
  text-align: center;
}

h2 {
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  font-size: 15px;
  letter-spacing: 5px;
  color: rgba(170, 170, 170, 1);
  text-align: center;
}

h3 {
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 2px;
  color: rgba(170, 170, 170, 1);
}

#subway-map {
  width: 25%;
  display: block;
  margin-top: 2%;
  margin-left: auto;
  margin-right: auto;
}

.information {
  text-align: center;
}


hr {
  color: rgba(170, 170, 170, 255);
  width: 40%;
  border: none;
  background-color: grey;
  height: 1px;
  margin-top: 25px;
  margin-bottom: 25px;
}


input {
  border: 1px solid;
  padding: 7px 17px;
  display: block;
  font-family: 'Oswald', sans-serif;
  letter-spacing: 2px;
  display: inline-block;
}


li {
  display: inline-block;
  margin-right: 5%;
  text-align: center;
  color: turquoise;
}

ul {
  text-align: center;
}